# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

#.idea/
#*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

#run/
#run_server/

# Template

template/__pycache__/

.idea/*
!.idea/modules
!.idea/runConfigurations/
!.idea/gradle.xml
!.idea/misc.xml

!run/
run/*
!run/resourcepacks/
!run/options.txt
!run_server/
run_server/*
!run_server/server.properties
